// @import '../../style/variables.scss';
.icons-bar {
  p {
    transform: rotate(-90deg);
    white-space: nowrap;
    color: white;
    margin-top: 6rem;
  }
  
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 7rem;
}