/* app.scss */
@import './variables.scss';
@import './mixins.scss';
@import './functions.scss';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 0.1px dashed #868686;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto"),
       url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
html {
  font-size: 62.5%;  /* min: 47% */
  font-family: Roboto, sans-serif;
}
body {
  // border: 0.1rem solid red;
  font-size: 1.6rem;
  overflow-x: hidden;
}

/*** Contenant ***/
.center {
  width: 144rem;
  height: auto;
  margin: 0 auto;
}
.container {  
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(auto, 12.7rem) minmax(auto, 131.3rem);
  grid-template-rows: minmax(auto, 9.1rem) minmax(auto, 93.3rem);
  gap: 0rem 0rem;
  grid-template-areas:
    "navbar navbar"
    "icons-bar main";
}
.navbar {
  grid-area: navbar;
  width: 100%;
  height: 9.1rem;
  background-color: $black;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.icons-bar {
  grid-area: icons-bar;
  width: 12.7rem;
  height: auto;
  background-color: $black;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main {
  grid-area: main;
  max-width: 112.6rem;
  height: 77.9rem;
  border: 0.1rem solid $black;
  position: absolute;
  margin-top: 15.9rem;
  margin-left: 22.4rem; 
  margin-right: 2.5rem;
  /* width: 131.3rem;
  height: 93.3rem; */
}


/*** Contenu ***/
.panorama {  
  display: grid;
  width: 100%;
  /* height: 70vh; */
  grid-template-columns: minmax(auto, 83.5rem) minmax(auto, 25.8rem);
  grid-template-rows: minmax(auto, 32rem) minmax(auto, 26.3rem);
  gap: 3rem 3rem;
  grid-auto-flow: row;
  grid-template-areas:
    "wrapper-activity wrapper-nutrients"
    "wrapper-other-charts wrapper-nutrients";  
}
.wrapper-nutrients { 
  grid-area: wrapper-nutrients; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.9rem 0rem;
}
.wrapper-activity { 
  grid-area: wrapper-activity; 
  display: flex;
}
.wrapper-other-charts {
  grid-area: wrapper-other-charts;
  display: flex;
  gap: 0rem 3rem;
}
.message {
  margin-bottom: 7.7rem;
  overflow: hidden;
}
.activity {
  // background-color: cyan;
  // border: 0.1rem solid cyan;
  border-radius: 5px;
  max-width: 83.5rem;
  max-height: 32rem;
  overflow: hidden;
  flex: 1;
}
.average {
  // background-color:blue;
  border: 0.1rem solid blue;
  border-radius: 5px;
  max-width: 25.8rem;
  max-height: 26.3rem;
  overflow: hidden;
  flex: 1;
}
.performance {
  background-color:brown;
  border: 0.1rem solid brown;
  border-radius: 5px;
  max-width: 25.8rem;
  max-height: 26.3rem;
  overflow: hidden;
  flex: 1;
}
.score {
  // background-color:burlywood;
  border: 0.1rem solid burlywood;
  border-radius: 5px;
  max-width: 25.8rem;
  max-height: 26.3rem;
  overflow: hidden;
  flex: 1;
}
.calories {
  background: $ligthGray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  border: 0.1rem solid #FF0000;
  max-width: 25.8rem;
  max-height: 12.4rem;
  overflow: hidden;
  flex: 1;
}
.proteins {
  background: $ligthGray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  border: 0.1rem solid #4AB8FF;
  max-width: 25.8rem;
  max-height: 12.4rem;
  overflow: hidden;
  flex: 1;
}
.carbs {
  background: $ligthGray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  border: 0.1rem solid #FDCC0C;
  max-width: 25.8rem;
  max-height: 12.4rem;
  overflow: hidden;
  flex: 1;
}
.fats {
  background: $ligthGray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  border: 0.1rem solid #FD5181;
  max-width: 25.8rem;
  max-height: 12.4rem;
  overflow: hidden;
  flex: 1;
}


