
.message {
  position: relative;

  h1 {
    font-size: 4.8rem;
    font-weight: 500;

    .firstName {
      color: #FF0101;
    }
  }
  
  p {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .dataSource {
    position: absolute;
    top: 0;
    right: 0;
    color: #FF0000;
    font-weight: 500;
    transition: color 25s;
  }
}